*.class
*.log
.DS_Store
.idea/
target/
!project/
*/project
!*simulation.log
**/.DS_Store
.metals/
project/metals.sbt
.bloop/
.vscode/
/buildSrc/build/*
/**/*.iml
**/.project
**/.settings
**/.history
.bsp/sbt.json
null/